Repository rhamenator/ai-scraping-defense, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tarpit, escalation, ui, ai/rag, nginx, configuration, github_actions

.github/labeler.yml:

# .github/labeler.yml

# Add 'documentation' label to any PR modifying files in the 'docs/' directory
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**']

# Add 'tarpit' label for changes in the tarpit service
tarpit:
  - changed-files:
      - any-glob-to-any-file: ['tarpit/**']

# Add 'escalation' label for changes in the escalation engine
escalation:
  - changed-files:
      - any-glob-to-any-file: ['escalation/**']

# Add 'ui' label for changes in the admin UI
ui:
  - changed-files:
      - any-glob-to-any-file: ['admin_ui/**']

# Add 'ai/rag' label for changes related to AI/LLM components
ai/rag:
  - changed-files:
      - any-glob-to-any-file: ['rag/**', 'ai_service/**']

# Add 'nginx' label for changes to NGINX or Lua configs
nginx:
  - changed-files:
      - any-glob-to-any-file: ['nginx/**']

# Add 'configuration' label for changes to core configs like Dockerfiles or docker-compose
configuration:
  - changed-files:
      - any-glob-to-any-file: ['Dockerfile', 'docker-compose.yml', '*.txt', '*.sh']

# Add 'github_actions' label for changes to workflows or templates
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

Update README.md
  README.md
Labels: none

Update getting_started.md
  docs/getting_started.md
Labels: documentation

Changes to be committed: modified: .github/workflows/ci.yml modified: rag/finetune.py modified: requirements.txt
  .github/workflows/ci.yml
  rag/finetune.py
  requirements.txt
Labels: ai/rag, configuration, github_actions

modified: metrics.py Changed METRIC_TAR PIT_HITS to METRIC_TARPIT_HITS
  metrics.py
Labels: none

renamed: LICENSE.md -> license_summary.md
  license_summary.md
Labels: none

Update README.md
  README.md
Labels: none

Update LICENSE
  LICENSE
Labels: none

Update LICENSE
  LICENSE
Labels: none

Update architecture.md
  docs/architecture.md
Labels: documentation

feat: Enhance detection and configuration; and documentation
  README.md
  __init__.py
  admin_ui/__init__.py
  ai_service/__init__.py
  ai_service/ai_webhook.py
  docker-compose.yml
  docs/anti_scrape_architecture.pdf
  docs/anti_scrape_architecture.svg
  docs/architecture.mmd
  docs/getting_started.md
  docs/key_data_flows.md
  escalation/__init__.py
  escalation/escalation_engine.py
  rag/__init__.py
  requirements.txt
  sample.env
  shared/__init__.py
  tarpit/__init__.py
Labels: documentation, tarpit, escalation, ui, ai/rag, configuration

feat: Add Kubernetes deployment manifests and documentation
  CHANGELOG.md
  README.md
  docs/getting_started.md
  docs/index.md
  docs/kubernetes_deployment.md
  kubernetes/admin-ui-deployment.yaml
  kubernetes/ai-service-deployment.yaml
  kubernetes/archive-rotator-deployment.yaml
  kubernetes/configmap.yaml
  kubernetes/escalation-engine-deployment.yaml
  kubernetes/nginx-deployment.yaml
  kubernetes/redis-statefulset.yaml
  kubernetes/secrets.yaml
  kubernetes/tarpit-api-deployment.yaml
Labels: documentation

Update README.md
  README.md
Labels: none

Update kubernetes_deployment.md
  docs/kubernetes_deployment.md
Labels: documentation

feat: Implement TTL expiry for Redis blocklist
  ai_service/ai_webhook.py
  docker-compose.yml
  kubernetes/configmap.yaml
  sample.env
Labels: ai/rag, configuration

modified: .gitignore
  .gitignore
Labels: none

feat: Enhance Tarpit with PostgreSQL Backend and Deterministic Page Generation
  CHANGELOG.md
  README.md
  db/init_markov.sql
  docker-compose.yml
  docs/anti_scrape_architecture.pdf
  docs/anti_scrape_architecture.svg
  docs/api_references.md
  docs/architecture.md
  docs/architecture.mmd
  docs/getting_started.md
  docs/key_data_flows.md
  docs/kubernetes_deployment.md
  kubernetes/configmap.yaml
  kubernetes/postgres-statefulset.yaml
  metrics.py
  nginx/example_main_website_nginx.conf
  nginx/lua/detect_bot.lua
  nginx/nginx.conf
  rag/train_markov_postgres.py
  requirements.txt
  secrets/pg_password_example.txt
  tarpit/markov_generator.py
  tarpit/tarpit_api.py
Labels: documentation, tarpit, ai/rag, nginx, configuration

Update .gitignore
  .gitignore
Labels: none

Update architecture.md
  docs/architecture.md
Labels: documentation

Removed unused content from .gitignore and added a sample robots.txt
  .gitignore
  config/robots.txt
Labels: none

Fixed Mermaid diagram code in architecture.md
  docs/architecture.md
Labels: documentation

feat: Implement dynamic content, K8s automation, and hardening
  Dockerfile.txt
  docker-compose.yml
  kubernetes/admin-ui-deployment.yaml
  kubernetes/ai-service-deployment.yaml
  kubernetes/archive-rotator-deployment.yaml
  kubernetes/archives-pvc.yaml
  kubernetes/configmap.yaml
  kubernetes/corpus-pvc.yaml
  kubernetes/corpus-updater-cronjob.yaml
  kubernetes/escalation-engine-deployment.yaml
  kubernetes/markov-model-trainer.yaml
  kubernetes/markov-trainer-job.yaml.txt
  kubernetes/models-pvc.yaml
  kubernetes/nginx-deployment.yaml
  kubernetes/postgres-statefulset.yaml
  kubernetes/redis-statefulset.yaml
  kubernetes/robots-fetcher-cronjob.yaml
  kubernetes/secrets.yaml
  kubernetes/tarpit-api-deployment.yaml
  kubernetes_probems.txt
  nginx/lua/check_blocklist.lua
  requirements.txt
  sample.env
  util/corpus_wikipedia_updater.py
  util/robots_fetcher.py
Labels: nginx, configuration

Refactor: Improve K8s setup and configuration consistency
  CHANGELOG.md
  README.md
  Roadmap.docx
  backup-files/Dockerfile.txt
  backup-files/requirements.txt
  docs/api_references.md
  docs/architecture.md
  docs/key_data_flows.md
  docs/kubernetes_deployment.md
  kubernetes/configmap.yaml
  kubernetes/postgres-init-script-cm.yaml
  kubernetes/postgres-init-script-cm.yml
  kubernetes/postgres-statefulset.yaml
  kubernetes/secrets.yaml
  kubernetes/tarpit-api-deployment.yaml
  kubernetes_probems.txt
  mkdocs.yml
  nginx/lua/detect_bot.lua
  setup_local_dirs.sh
Labels: documentation, nginx, configuration

Fleshed out unit tests and took care of more Pylance errors
  admin_ui/admin_ui.py
  ai_service/ai_webhook.py
  escalation/escalation_engine.py
  metrics.py
  tarpit/ip_flagger.py
  test/admin_ui/admin_ui.test.py
  test/ai_webhook/ai_webhook.test.py
  test/escalation/escalation_engine.test.py
  test/metrics.test.py
  test/rag/email_entropy_scanner.test.py
  test/rag/finetune.test.py
  test/rag/train_markov_postgres.test.py
  test/rag/training.test.py
  test/shared/honeypot_logger.test.py
  test/tarpit/ip_flagger.test.py
  test/tarpit/js_zip_generator.test.py
  test/tarpit/markov_generator.test.py
  test/tarpit/rotating_archive.test.py
  test/tarpit/tarpit_api.test.py
  test/util/corpus_wikipedia_updater.test.py
  test/util/robots_fetcher.test.py
Labels: tarpit, escalation, ui, ai/rag

Deleted old backup files and Kubernetes job YAML
  backup-files/Dockerfile.txt
  backup-files/requirements.txt
  kubernetes/markov-trainer-job.yaml.txt
Labels: none

Added basic HTTP authentication
  .dockerignore
  .gitignore
  README.md
  admin_ui/Dockerfile
  ai_service/Dockerfile
  docker-compose.yml
  escalation/Dockerfile
  kubernetes/nginx-deployment.yaml
  kubernetes/postgres-init-script-cm.yaml
  kubernetes/postgres-init-script-cm.yml
  nginx/nginx.conf
  rag/Dockerfile
  rag/training.py
  requirements.txt
  tarpit/Dockerfile
  test/rag/training.test.py
  util/Dockerfile
Labels: tarpit, escalation, ui, ai/rag, nginx, configuration

Updated docker-compose.yml: updated redis service block
  docker-compose.yml
Labels: configuration

Updated Docker configuration
  Dockerfile
  admin_ui_log.txt
  compose-dev.yaml
  data/wikipedia_corpus.txt
  docker-compose.yaml
Labels: configuration

Added Docker documentation and updated README
  Docker.md
  README.md
  admin_ui_log.txt
Labels: configuration

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Change to settings.json
  .vscode/settings.json
Labels: none

Updated Dockerfile
  Dockerfile
Labels: configuration

Updated Dockerfile for debugging
  Dockerfile
Labels: configuration

More modifications to Dockerfile and added constraints.txt
  Dockerfile
  Dockerfile.ubuntu
  constraints.txt
Labels: configuration

Updated docker-compose.yaml to rename nginx to nginx_proxy Updated dockerfile to use torch 2.2.0 and torchvision 0.17.0 Updated constraints.txt to use torch 2.2.0 and torchvision 0.17.0
  Dockerfile
  constraints.txt
  docker-compose.yaml
Labels: configuration

Enhance Dockerfile and docker-compose for nginx setup; create necessary directories with permissions; add secret generation scripts for improved security management.
  Dockerfile
  Generate-Secrets.ps1
  docker-compose.yaml
  generate_secrets.sh
Labels: configuration

Add username display for generated secrets in scripts; enhance output clarity for important passwords
  Generate-Secrets.ps1
  generate_secrets.sh
Labels: configuration

Add force parameter to secret generation scripts; implement checks for existing secrets to prevent accidental overwrites
  Generate-Secrets.ps1
  generate_secrets.sh
Labels: configuration

Refactor .htpasswd password generation to use completely random values without patterns for enhanced security
  Generate-Secrets.ps1
  generate_secrets.sh
Labels: configuration

Improve nginx configuration for proxy behavior; remove trailing slash in proxy_pass to preserve URI, enhance WebSocket support, and add timeouts to prevent connection issues.
  nginx/nginx.conf
Labels: nginx
