Repository rhamenator/ai-scraping-defense, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tarpit, escalation, ui, ai/rag, nginx, configuration, github_actions

.github/labeler.yml:

# .github/labeler.yml

# Add 'documentation' label to any PR modifying files in the 'docs/' directory
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**']

# Add 'tarpit' label for changes in the tarpit service
tarpit:
  - changed-files:
      - any-glob-to-any-file: ['tarpit/**']

# Add 'escalation' label for changes in the escalation engine
escalation:
  - changed-files:
      - any-glob-to-any-file: ['escalation/**']

# Add 'ui' label for changes in the admin UI
ui:
  - changed-files:
      - any-glob-to-any-file: ['admin_ui/**']

# Add 'ai/rag' label for changes related to AI/LLM components
ai/rag:
  - changed-files:
      - any-glob-to-any-file: ['rag/**', 'ai_service/**']

# Add 'nginx' label for changes to NGINX or Lua configs
nginx:
  - changed-files:
      - any-glob-to-any-file: ['nginx/**']

# Add 'configuration' label for changes to core configs like Dockerfiles or docker-compose
configuration:
  - changed-files:
      - any-glob-to-any-file: ['Dockerfile', 'docker-compose.yml', '*.txt', '*.sh']

# Add 'github_actions' label for changes to workflows or templates
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

Add Redis password authentication to check_blocklist.lua; read password from secrets file and trim whitespace for secure connection.
  docker-compose.yaml
  nginx/lua/check_blocklist.lua
Labels: nginx

Add nginx configuration for Admin UI proxy; mount configuration directory for better management and organization.
  docker-compose.yaml
  nginx/conf.d/admin.conf
Labels: nginx

Refactor nginx configuration for Admin UI; update location block to remove trailing slash, enhance proxy settings for WebSocket support, and improve authentication handling.
  nginx/conf.d/admin.conf
  nginx/nginx.conf
Labels: nginx

Refactor Dockerfile and nginx configuration; enhance directory structure, update nginx command for debugging, and add health check endpoint.
  Dockerfile
  Dockerfile.ubuntu
  docker-compose.yaml
  nginx/nginx.conf
Labels: nginx, configuration

Enhance Dockerfile and nginx configuration; add gettext package, improve directory structure for nginx, and update entrypoint command for environment variable substitution.
  Dockerfile
  docker-compose.yaml
  nginx/nginx.conf
Labels: nginx, configuration

feat: Enhance configuration management and improve Wikipedia article fetching
  Dockerfile
  data/wikipedia_corpus.txt
  docker-compose.yaml
  kubernetes/ai-service-deployment.yaml
  rag/training.py
  shared/config.py
  util/corpus_wikipedia_updater.py
  util/robots_fetcher.py
Labels: ai/rag, configuration

feat: Update requirements and enhance Redis integration
  .github/workflows/ci-cd-pipeline.yaml
  deploy.ps1
  deploy.sh
  docker-compose.yaml
  docker-entrypoint.sh
  docs/getting_started.md
  escalation/escalation_engine.py
  kubernetes/namespace.yaml
  requirements.txt
  shared/model_adapters.py
  shared/model_provider.py
  shared/redis_client.py
  tarpit/ip_flagger.py
  tarpit/tarpit_api.py
Labels: documentation, tarpit, escalation, configuration, github_actions

docs: Add note about context access error for KUBECONFIG secret in CI-CD pipeline
  .github/workflows/ci-cd-pipeline.yaml
Labels: github_actions

refactor: Move metrics to shared module and update imports in ai_webhook and docker-compose
  ai_service/ai_webhook.py
  docker-compose.yaml
  shared/metrics.py
Labels: ai/rag

refactor: Remove ModelAdapterFactory class to simplify adapter creation
  shared/model_adapters.py
Labels: none

Refactor and enhance unit tests for robots_fetcher, metrics, and model_adapters
  escalation/escalation_engine.py
  test/admin_ui/admin_ui.test.py
  test/ai_webhook/ai_webhook.test.py
  test/escalation/escalation_engine.test.py
  test/metrics.test.py
  test/rag/finetune.test.py
  test/rag/training.test.py
  test/run_all_tests.py
  test/shared/metrics.test.py
  test/shared/model_adapters.test.py
  test/tarpit/ip_flagger.test.py
  test/tarpit/js_zip_generator.test.py
  test/tarpit/rotating_archive.test.py
  test/tarpit/tarpit_api.test.py
  test/util/corpus_wikipedia_updater.test.py
  test/util/robots_fetcher.test.py
Labels: escalation

feat: Added adapters for OpenAI, Gemini, Anthropic, Cohere, Ollama, and Llama. // Description: This commit updates the requirements and enhances the functionality of the Wikipedia corpus updater.
  requirements.txt
  shared/model_adapters.py
  test/util/corpus_wikipedia_updater.test.py
  util/corpus_wikipedia_updater.py
Labels: configuration

Delete Kubernetes/secrets.yaml
  kubernetes/secrets.yaml
Labels: none

Refactor and remove deprecated Dockerfiles and entrypoint scripts; update imports to reflect new module structure; enhance secret generation scripts for improved security and usability.
  .gitignore
  Dockerfile
  Dockerfile.txt
  Generate-Secrets.ps1
  Old-Generate-Secrets.ps1
  docker-compose.yaml
  docker-entrypoint.sh
  generate_secrets.sh
  kubernetes/ai-service-deployment.yaml
  kubernetes/archive-rotator-deployment.yaml
  kubernetes/archives-pvc.yaml
  kubernetes/configmap.yaml
  kubernetes/corpus-updater-cronjob.yaml
  kubernetes/escalation-engine-deployment.yaml
  kubernetes/markov-model-trainer.yaml
  kubernetes/namespace.yaml
  kubernetes/nginx-deployment.yaml
  kubernetes/robots-fetcher-cronjob.yaml
  kubernetes/tarpit-api-deployment.yaml
  mnt/d/anti-scraping-defense/Dockerfile
  mnt/d/anti-scraping-defense/docker-entrypoint.sh
  old_generate_secrets.sh
  src/admin_ui/Dockerfile
  src/admin_ui/admin_ui.py
  src/ai_service/Dockerfile
  src/escalation/Dockerfile
  src/escalation/escalation_engine.py
  src/rag/Dockerfile
  src/shared/model_adapters.py
  src/shared/model_provider.py
  src/tarpit/Dockerfile
  src/util/Dockerfile
  src/util/corpus_wikipedia_updater.py
  test/admin_ui/test_admin_ui.py
  test/run_all_tests.py
Labels: configuration

Refactor Kubernetes deployments and configurations for improved structure and resource management
  kubernetes/admin-ui-deployment.yaml
  kubernetes/ai-service-deployment.yaml
  kubernetes/archive-rotator-deployment.yaml
  kubernetes/archives-pvc.yaml
  kubernetes/corpus-pvc.yaml
  kubernetes/corpus-updater-cronjob.yaml
  kubernetes/escalation-engine-deployment.yaml
  kubernetes/markov-model-trainer.yaml
  kubernetes/models-pvc.yaml
  kubernetes/nginx-deployment.yaml
  kubernetes/postgres-init-script-cm.yaml
  kubernetes/postgres-statefulset.yaml
  kubernetes/redis-statefulset.yaml
  kubernetes/robots-fetcher-cronjob.yaml
  kubernetes/tarpit-api-deployment.yaml
Labels: none

Refactor and enhance Kubernetes secrets generation scripts
  Generate-Secrets.ps1
  generate_secrets.sh
  requirements.txt
  reset_venv.sh
  src/shared/model_adapters.py
  src/shared/model_provider.py
Labels: configuration

Refactor secret generation scripts for improved structure and API key handling; consolidate imports and enhance error logging for model adapters.
  Generate-Secrets.ps1
  generate_secrets.sh
  requirements.txt
  src/shared/model_adapters.py
  src/shared/model_provider.py
Labels: configuration

Refactor generate_secrets.sh for improved structure and readability; enhance comments for clarity.
  generate_secrets.sh
Labels: configuration

Refactor model adapters for improved import handling and error logging; enhance API key management in HttpModelAdapter.
  src/shared/model_adapters.py
Labels: none

Enhance error handling and logging in model adapters; ensure MODEL_URI is set before client configuration.
  src/shared/model_adapters.py
Labels: none

Refactor model provider to improve URI handling and error logging; ensure MODEL_URI is validated before loading the model adapter.
  sample.env
  src/shared/model_provider.py
Labels: none

Refactor requirements and enhance admin UI functionality
  docker-compose.yaml
  requirements.txt
  src/admin_ui/admin_ui.py
  src/admin_ui/templates/settings.html
  src/shared/model_adapters.py
  src/shared/model_provider.py
Labels: configuration

Update architecture.md
  docs/architecture.md
Labels: documentation

fix: return status from remove_ip_flag
  src/tarpit/ip_flagger.py
Labels: none

fix test runner path
  test/run_all_tests.py
Labels: none

Fix mermaid subgraph syntax
  docs/architecture.md
Labels: documentation

Refactor diagrams in architecture and key data flows documentation for improved clarity and consistency in component representation.
  docs/architecture.md
  docs/key_data_flows.md
Labels: documentation

Enhance contribution guidelines in documentation to include feature requests, bug reports, and code contributions. Also, fixed minor linting errors.
  CONTRIBUTING.md
  docs/ROADMAP.md
Labels: documentation

Update README.md
  README.md
Labels: none

Fixed error in Mermaid diagram syntax
  docs/key_data_flows.md
Labels: documentation

Update getting_started.md
  docs/getting_started.md
Labels: documentation

Add files via upload
  AI_Scraping_Defense_System_Presentation.pptx
Labels: none

Refactor tests and utils
  src/admin_ui/admin_ui.py
  src/admin_ui/templates/index.html
  src/ai_service/ai_webhook.py
  src/util/corpus_wikipedia_updater.py
  src/util/robots_fetcher.py
  test/tarpit/__init__.py
  test/util/__init__.py
Labels: none

Fix imports and add missing features
  src/admin_ui/admin_ui.py
  src/tarpit/markov_generator.py
  src/util/robots_fetcher.py
  test/ai_webhook/test_ai_webhook.py
  test/escalation/test_escalation_engine.py
  test/run_all_tests.py
  test/shared/test_honeypot_logger.py
  test/shared/test_metrics.py
  test/shared/test_model_adapters.py
  test/tarpit/test_ip_flagger.py
  test/tarpit/test_js_zip_generator.py
  test/tarpit/test_markov_generator.py
  test/tarpit/test_rotating_archive.py
  test/tarpit/test_tarpit_api.py
  test/util/test_corpus_wikipedia_updater.py
  test/util/test_robots_fetcher.py
Labels: none

refactor: centralize secret loading and fix redis client imports
  src/ai_service/ai_webhook.py
  src/escalation/escalation_engine.py
  src/tarpit/ip_flagger.py
  src/tarpit/tarpit_api.py
  test/escalation/test_escalation_engine.py
Labels: none

Refactor archive import and secure webhook
  requirements.txt
  src/ai_service/ai_webhook.py
  src/tarpit/rotating_archive.py
Labels: configuration

Fix imports, add persistence and security
  requirements.txt
  src/ai_service/ai_webhook.py
  src/escalation/escalation_engine.py
  src/rag/__init__.py
  src/shared/decision_db.py
  src/shared/honeypot_logger.py
  src/shared/metrics.py
  src/tarpit/__init__.py
  src/tarpit/rotating_archive.py
  src/tarpit/tarpit_api.py
  src/util/robots_fetcher.py
Labels: configuration

Harden input handling and logging
  nginx/lua/detect_bot.lua
  src/ai_service/ai_webhook.py
  src/escalation/escalation_engine.py
  src/tarpit/markov_generator.py
  src/tarpit/tarpit_api.py
  test/escalation/test_escalation_engine.py
Labels: nginx

Enhance heuristics and tarpit safety
  src/escalation/escalation_engine.py
  src/tarpit/tarpit_api.py
  test/escalation/test_escalation_engine.py
Labels: none

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: github_actions
