Repository rhamenator/ai-scraping-defense, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tarpit, escalation, ui, ai/rag, nginx, configuration, github_actions

Add unit tests for config and redis client
  test/shared/test_config_redis_client.py
Labels: none

Add tests for decision_db record_decision
  test/shared/test_decision_db.py
Labels: none

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: github_actions

Add escalation engine error handling tests
  test/escalation/test_escalation_engine.py
Labels: none

Add tests for model_provider adapter selection
  test/shared/test_model_provider.py
Labels: none

Ignore Python compiled files
  .gitignore
Labels: none

Update requirements and fix tests
  requirements.txt
  src/tarpit/ip_flagger.py
  src/tarpit/js_zip_generator.py
  src/tarpit/rotating_archive.py
  test/tarpit/test_ip_flagger.py
  test/tarpit/test_js_zip_generator.py
  test/tarpit/test_markov_generator.py
  test/tarpit/test_rotating_archive.py
  test/tarpit/test_tarpit_api.py
Labels: configuration

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: github_actions

Update label-pr.yml
  .github/workflows/label-pr.yml
Labels: github_actions

Add escalation engine unit tests
  test/escalation/test_escalation_engine.py
Labels: none

docs: fix setup instructions
  README.md
  deploy.sh
  docs/getting_started.md
  docs/kubernetes_deployment.md
  sample.env
  src/rag/email_entropy_scanner.py
  src/rag/finetune.py
  src/rag/train_markov_postgres.py
  src/rag/training.py
Labels: documentation, configuration

Cleaned up old files
  .gitignore
  Dockerfile.txt
  Old-Generate-Secrets.ps1
  old_generate_secrets.sh
Labels: configuration

Add Rust tarpit generator and integrate
  Dockerfile
  src/shared/model_adapters.py
  src/tarpit/__init__.py
  src/tarpit/tarpit_api.py
  tarpit-rs/.gitignore
  tarpit-rs/Cargo.lock
  tarpit-rs/Cargo.toml
  tarpit-rs/src/lib.rs
Labels: configuration

Add Rust frequency module and integrate
  .gitignore
  Dockerfile
  frequency-rs/Cargo.lock
  frequency-rs/Cargo.toml
  frequency-rs/src/lib.rs
  src/escalation/escalation_engine.py
Labels: configuration

Add trailing newline to rotating_archive
  src/tarpit/rotating_archive.py
Labels: none

.github/labeler.yml:

# .github/labeler.yml

# Add 'documentation' label to any PR modifying files in the 'docs/' directory
documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**']

# Add 'tarpit' label for changes in the tarpit service
tarpit:
  - changed-files:
      - any-glob-to-any-file: ['tarpit/**']

# Add 'escalation' label for changes in the escalation engine
escalation:
  - changed-files:
      - any-glob-to-any-file: ['escalation/**']

# Add 'ui' label for changes in the admin UI
ui:
  - changed-files:
      - any-glob-to-any-file: ['admin_ui/**']

# Add 'ai/rag' label for changes related to AI/LLM components
ai/rag:
  - changed-files:
      - any-glob-to-any-file: ['rag/**', 'ai_service/**']

# Add 'nginx' label for changes to NGINX or Lua configs
nginx:
  - changed-files:
      - any-glob-to-any-file: ['nginx/**']

# Add 'configuration' label for changes to core configs like Dockerfiles or docker-compose
configuration:
  - changed-files:
      - any-glob-to-any-file: ['Dockerfile', 'docker-compose.yml', '*.txt', '*.sh']

# Add 'github_actions' label for changes to workflows or templates
github_actions:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']
